In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

df = pd.read_csv("../data/raw/personas.csv")
profile = ProfileReport(df, title="EDA Report", explorative=True)
profile.to_file("../data/outputs/eda_report.html")

/Users/lauracastillo/data_pipeline_project/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

100%|██████████| 3/3 [00:00<00:00, 81180.08it/s], ?it/s, Describe variable: ciudad]
Summarize dataset: 100%|██████████| 12/12 [00:00<00:00, 120.04it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:00<00:00,  4.58it/s]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 13.46it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 1187.52it/s]

In [3]:
df.head()

      nombre  edad    ciudad
0      Laura  28.0  Medellín
1     Carlos  35.0    Bogotá
2  Margarita   NaN      Cali
3       Juan  41.0  Medellín

In [6]:
df.filter(df['edad']!= 'NaN')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [5]:
df.head()

      nombre  edad    ciudad
0      Laura  28.0  Medellín
1     Carlos  35.0    Bogotá
2  Margarita   NaN      Cali
3       Juan  41.0  Medellín

In [8]:
filtered_df = df[df['ciudad'] == 'Medellín']
filtered_df.head()

  nombre  edad    ciudad
0  Laura  28.0  Medellín
3   Juan  41.0  Medellín